.about {
    user-select: none;
    text-align: center;
}

.about h1 {
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.about p {
    text-align: left;
    padding-left: 1em;
    margin-bottom: 1.5em;
}

.image {
    -webkit-user-drag: none;
}